.conteudo{
    position: absolute;
    top: 0;
    left: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 380px;
    min-height: 100vh;
    z-index: 1;
}

.conteudo .nome-personagem{
    
    color: white;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao{
    color: white;
    font-size: 16px;
    font-family: "Rubik";
    line-height: 24px;
}

.conteudo .logo{
    background-image: url("../imagens/one-piece-logo.png");
    background-size: cover;
    height: 100px;
    width: 230px;
    margin-bottom: 35px;
}
